/* Social Links */
.social-links {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.social-links a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: inherit;
  transition: all 0.2s linear;
}
.social-links img.social-icon {
  width: 32px;
  height: 32px;
  /* filter for the color: var(--primary-color) */
  filter: brightness(0) saturate(100%) invert(56%) sepia(99%) saturate(256%)
    hue-rotate(163deg) brightness(103%) contrast(104%);
}
.social-links a:hover {
  background-color: transparent;
  scale: 1.2;
}

/* Projects */
.project-tags {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  gap: 10px;
  align-items: center;
}
.project-tags .project-tech,
.project-tags .project-links {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: end;
}
.project-tags .project-links {
  justify-content: start;
}
.project-tags .project-tech {
  margin-left: auto;
}
.project-tech span {
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  padding: 0.5px 4px;
  font-size: calc(var(--global-font-size) - 4px);
}
.posts-list .post-header ~ p {
  display: inline;
}
.posts-list {
  padding-left: 0;
}
.posts-list .post:not(:last-child) {
  border-bottom: 1px solid var(--global-font-color);
  padding-bottom: 8px;
  margin-bottom: 20px;
}

.project-content {
  margin-top: 32px;
  text-align: justify;
}

.homepage-projects-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.homepage-projects-heading h1 {
  margin-bottom: 0;
}
