{{ define "main" }}

<h1>{{.Site.Params.author.name}}</h1>

<p>
  Hi! I'm {{.Site.Params.author.name}}. I build web apps, tinker with
  open-source, and love creating things that make a difference. Check out my
  work below and
  <a href="mailto:hi@momansour.me">let's build something awesome!</a>
</p>
{{ partial "links.html" . }}
<hr />

<div class="homepage-projects-heading">
  <h1>Latest projects</h1>
  <span>[<a href="/projects">View all projects</a>]</span>
</div>
<div class="posts-list">
  {{ with .Site.GetPage "/projects" }}
  {{ range first 3 (sort .Data.Pages "Date"
  "desc" (where .Pages ".Params.private" "!=" true))}}
  <div class="post">
    <div>
      <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
      <div class="project-tags">
        {{ if .Params.links }}
        <div class="project-links">
          {{ range .Params.links }}
          <a href="{{ .url }}" target="_blank">[{{ .name }}]</a>
          {{ end }}
        </div>
        {{ end }}
        {{ if .Params.tags }}
        <div class="project-tech">
          {{ range .Params.tags }}
          <span>{{ . }}</span>
          {{ end }}
        </div>
        {{ end }}
      </div>
      {{ .Summary }} [<a href="{{ .Permalink }}">read more...</a>]
    </div>
  </div>
  {{ end }}
  {{ end }}
</div>

{{ end }}
